<template>
  <Navbar />

  <div v-if="isLoading" class="row justify-content-md-center">
    <div class="col-3 alert-info text-center mt-5">
      Espere por favor...
      <h3 class="mt-2">
        <i class="fa fa-spin fa-sync"></i>
      </h3>
    </div>
  </div>

  <div v-else class="container">
       <!-- <NoEntrySelected />  -->
    <router-view />
  </div>

  <!-- <div v-else
        class="d-flex">
        <div class="">
            <CheckListado />
        </div>
        <div class="col">
            <router-view />
        </div>
    </div> -->
</template>



<script>
import { computed, defineAsyncComponent } from "vue";
import { mapActions, mapState, mapGetters } from "vuex";
import useAuth from '../../auth/composables/useAuth'
import useCheck from '../../checklist/composables/useCheck'

import { useStore } from "vuex";
import { onMounted } from "vue";


export default {
  components: {
    Navbar: defineAsyncComponent(() => import("../components/Navbar.vue")),
    //NoEntrySelected: defineAsyncComponent(() => import('../views/NoEntrySelected.vue')),
    //  Home: defineAsyncComponent(()=> import('../../../views/Home.vue'))
  },
  setup() {
    const store = useStore();

    const { evaluaciones, getUsuario, fetchEvaluaciones } = useCheck();
    const {userId} = useAuth()

    onMounted(() => {
      // getEvaluaciones();
    //  getEvaluacionesByUser(userId.value);

      console.log("!! USER ID ES :" + userId);
    });
    const getEvaluacionesByUser = (UserId) => {
      store.dispatch("checklist/fetchEvaluacionesByUser", userId);
    };
    const isLoading =computed(()=>store.getters['checklist/isLoading'])

    return {
        userId,
        //isLoading
        
    }
  },
};
</script>
<style lang="scss" scoped>
    // @import '../css/auth.css';
    // @import '../css/util.css';
</style>