<template>
  <div class="container" ref="contenedor" id="identy">
    <div class="row">
      <!-- <div class="col col-md-6 align-self-center"> -->
      <div class="col col-md-6 offset-md-3">
        <form @submit.prevent="" class="card card-body">
          <h1 class="text-center h3 mb-2">Información general</h1>
          <!-- <input type="text" class="form-control mb-3" />-->
          <label class="form-label mb-2">Nombre del proyecto</label>
          <input
            type="text"
            class="form-control mb-2"
            placeholder="Nombre proyecto"
            v-model="evaluacion.proyecto.nombre"
          />
          <label class="form-label mb-2">Autor </label>
          <input
            type="text"
            class="form-control mb-2"
            placeholder="Autor "
            v-model="evaluacion.proyecto.autor"
          />
          <label class="form-label mb-2">Validador</label>
          <input
            type="text"
            class="form-control mb-2"
            placeholder="Autor "
            disabled
            v-model="username"
          />
          <label class="form-label mb-2">Fecha</label>
          <input
            type="text"
            class="form-control mb-2"
            placeholder="Fecha "
            disabled
            v-model="evaluacion.proyecto.fecha"
          />
          <label class="form-label mb-2">Porcentaje Cumplimiento</label>
          <input
            type="text"
            class="form-control mb-2"
            placeholder=""
            disabled
            v-model="evaluacion.valor"
          />
          <h3 class="">Características y Subcaracterísticas</h3>

                <strong
                  ><label class="form-label"
                    >Precisión de la información
                  </label></strong
                >
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="Caracteristica 1"
                    id="flexCheckDefault1"
                    v-model="evaluacion.check1"
                  />
                  <label class="form-check-label" for="flexCheckDefault1">
                    1. Credibilidad
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="Caracteristica 2"
                    id="flexCheckDefault2"
                    v-model="evaluacion.check2"
                  />
                  <label class="form-check-label" for="flexCheckDefault2">
                    2. Actualidad
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="Caracteristica 3"
                    id="flexCheckDefault3"
                    v-model="evaluacion.check3"
                  />
                  <label class="form-check-label" for="flexCheckDefault3">
                    3. Precisión
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="Caracteristica 4"
                    id="flexCheckDefault4"
                    v-model="evaluacion.check4"
                  />
                  <label class="form-check-label" for="flexCheckDefault4">
                    4. Trazabilidad
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="Caracteristica 5"
                    id="flexCheckDefault5"
                    v-model="evaluacion.check5"
                  />
                  <label class="form-check-label" for="flexCheckDefault5">
                    5. Exactitud
                  </label>
                </div>
                <!-- <div class="mb-1">
        </div> -->
                <strong
                  ><label class="form-label"
                    >Accesibilidad de la información
                  </label></strong
                >
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="Caracteristica 6"
                    id="flexCheckDefault6"
                    v-model="evaluacion.check6"
                  />
                  <label class="form-check-label" for="flexCheckDefault6">
                    6. Accesibilidad
                  </label>
                </div>
                <!-- <div class="mb-3">
        </div> -->
                <strong
                  ><label class="form-label">
                    Oportunidad de la información
                  </label></strong
                >
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="Caracteristica 7"
                    id="flexCheckDefault7"
                    v-model="evaluacion.check7"
                  />
                  <label class="form-check-label" for="flexCheckDefault7">
                    7. Completitud
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="Caracteristica 8"
                    id="flexCheckDefault8"
                    v-model="evaluacion.check8"
                  />
                  <label class="form-check-label" for="flexCheckDefault8">
                    8. Consistencia
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="Caracteristica 9"
                    id="flexCheckDefault14"
                    v-model="evaluacion.check9"
                  />
                  <label class="form-check-label" for="flexCheckDefault14">
                    9. Comprensibilidad
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="Caracteristica 10"
                    id="flexCheckDefault15"
                    v-model="evaluacion.check10"
                  />
                  <label class="form-check-label" for="flexCheckDefault15">
                    10. Conformidad
                  </label>
                </div>

                <strong><label class="form-label">Eficiencia </label></strong>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="Caracteristica 11"
                    id="flexCheckDefault9"
                    v-model="evaluacion.check11"
                  />
                  <label class="form-check-label" for="flexCheckDefault9">
                    11. Eficiencia
                  </label>
                </div>
                <!-- <div class="mb-3">
        </div> -->
                <strong
                  ><label class="form-label">Confidencialidad </label></strong
                >
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="Caracteristica 12"
                    id="flexCheckDefault10"
                    v-model="evaluacion.check12"
                  />
                  <label class="form-check-label" for="flexCheckDefault10">
                    12. Confidencialidad
                  </label>
                </div>
                <!-- <div class="mb-3">
        </div> -->
                <strong>
                  <label class="form-label">Disponibilidad </label></strong
                >
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="Caracteristica 13"
                    id="flexCheckDefault11"
                    v-model="evaluacion.check13"
                  />
                  <label class="form-check-label" for="flexCheckDefault11">
                    13. Disponibilidad
                  </label>
                </div>
                <!-- <div class="mb-3">
        </div> -->
                <strong><label class="form-label">Portabilidad </label></strong>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="Caracteristica 14"
                    id="flexCheckDefault12"
                    v-model="evaluacion.check14"
                  />
                  <label class="form-check-label" for="flexCheckDefault12">
                    14. Portabilidad
                  </label>
                </div>
                <!-- <div class="mb-3">
        </div> -->
                <strong>
                  <label class="form-label">Recuperabilidad </label></strong
                >
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="Caracteristica 15"
                    id="flexCheckDefault13"
                    v-model="evaluacion.check15"
                  />
                  <label class="form-check-label" for="flexCheckDefault13">
                    15. Recuperabilidad
                  </label>
                </div>


          <button class="btn btn-primary sm">Editar</button>
        </form>
      </div>
      <!-- <button class="btn btn-danger" @click="print">Descargar</button> -->

      <div class="text-center">
        <button class="btn btn-danger" @click="print">Descargar</button>
      </div>

    </div>
  </div>
</template>

<script>
import useCheck from "../composables/useCheck";
import Swal from "sweetalert2";
import { useStore } from "vuex";
import { useRouter, useRoute } from "vue-router";
import { onMounted, ref, watch } from "vue";
import axios from "axios";
import useAuth from "../../auth/composables/useAuth";
import jspdf from "jspdf";
export default {
  setup() {
    ///let evaluacion= []
    const evaluacion = ref({
      proyecto: {
        nombre: null,
        autor: null,
        fecha: null,
      },
      check1: false,
      check2: false,
      check3: false,
      check4: false,
      check5: false,
      check6: false,
      check7: false,
      check8: false,
      check9: false,
      check10: false,
      check11: false,
      check12: false,
      check13: false,
      check15: false,
      check14: false,
      valor:null
    });
    const router = useRouter();
    const route = useRoute();
    const store = useStore();
    const { userId, username } = useAuth();

    const { fetchEvaluacion } = useCheck();

    const fetchDetail = async () => {
      const journalApi = axios.create({
        baseURL: "http://localhost:8000/api",
        headers: { "Content-Type": "application/json" },
      });
      const res = await journalApi.get(
        "/evaluaciones/detail/" + route.params.id
      );
      // then(response =>  evaluacion=(response.data.evaluacion))
      evaluacion.value = res.data.evaluacion;
      console.log(evaluacion.value);
    };
    console.log("id en la ruta: " + route.params.id);
    console.log("la eval es:" + evaluacion.value);
    fetchDetail();
    evaluacion.value.proyecto.fecha = Date.toLocaleDateString;
    const getEvaluacion = () => {
      store.dispatch("checklist/fetchEvaluacion", route.params.id);
    };

    //getEvaluacion()
    onMounted(() => {
      fetchDetail(route.params.id);
      //fetchEvaluacion(route.params.id)
    });
 
    watch(
      () => route.params.id,
      () => fetchDetail(route.params.id)
    );

    const contenedor = ref(null);
    const print = () => {
      // const doc = new jspdf();
      const doc = new jspdf("p", "pt", "a4");
      console.log(contenedor.value);

      //     doc.html(contenedor.value.innerHTML,{
      //     'width': 150,
      //     });
      //   doc.save("sample.pdf");

      doc.html(contenedor.value, {
        callback: function (doc) {
          doc.save();
        },
        x: 15,
        y: 10
      });


    };
    return {
      evaluacion,
      username,
      print,
      contenedor,
      // data: fetchDetail
    };
  },
};
</script>