<template>
      <div class="container">

            <!-- <div class="mt-2 d-flex flex-column">
                <button class="btn btn-primary "
                        @click="$router.push({ name: 'new-project', params: { id: 'new' } })">
                        <i class="fa fa-plus-circle"></i>
                        Nueva entrada
                </button>
            </div> -->

      </div>

</template>

<script>

export default {
    components: {
        
    }
};
</script>