<template>
  <div v-if="isLoading" class="row justify-content-md-center">
    <div class="col-3 alert-info text-center mt-5">
      Espere por favor...
      <h3 class="mt-2">
        <i class="fa fa-spin fa-sync"></i>
      </h3>
    </div>
  </div>

  <div v-else>
    <h1 class="text-center">VALIDACIÓN ISO 25012</h1>
    <br />
    <h2>DATOS DEL PROYECTO A EVALUAR</h2>
    <br />
    <form v-on:submit.prevent="onSubmit" class="form-control" id="form">
      <div class="mb-3">
        <label class="form-label">Nombre del proyecto</label>
        <input
          type="text"
          class="form-control"
          placeholder="Nombre proyecto"
          v-model="useForm.nombre"
          required="true"
        />
      </div>

      <div class="mb-3">
        <label class="form-label">Autor del proyecto</label>
        <input
          type="text"
          class="form-control"
          placeholder="Autor "
          v-model="useForm.autor"
          required="true"

        />
      </div>


      <div class="form-control">
        <h2>Características y Subcaracterísticas</h2>

        <strong
          ><label class="form-label">Precisión de la información</label>
        </strong>

        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value="Caracteristica 1"
            id="flexCheckDefault1"
            v-model="useForm.check1"
          />
          <label class="form-check-label" for="flexCheckDefault1">
          <u>  1. Credibilidad :</u>
          </label>
           <em> Grado en el que los datos tienen atributos que permiten mantener y preservar un nivel específico de operaciones y calidad, incluso en caso de fallos, en un contexto de uso específico.</em>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value="Caracteristica 2"
            id="flexCheckDefault2"
            v-model="useForm.check2"
          />
          <label class="form-check-label" for="flexCheckDefault2">
           <u> 2. Actualidad:</u>
          </label>
          <em> Grado en el que los datos tienen atributos que tienen la edad correcta en un contexto de uso específico.</em>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value="Caracteristica 3"
            id="flexCheckDefault3"
            v-model="useForm.check3"
          />
          <label class="form-check-label" for="flexCheckDefault3">
         <u>   3. Precisión:</u>
          </label>
  <em> Grado en el que los datos tienen atributos que son exactos o proporcionan discernimiento en un contexto de uso específico.</em>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value="Caracteristica 4"
            id="flexCheckDefault4"
            v-model="useForm.check4"
          />
          <label class="form-check-label" for="flexCheckDefault4">
          <u>  4. Trazabilidad: </u>
          </label>
          <em>	Grado en el que los datos tienen atributos que proporcionan un camino de acceso auditado a los datos o cualquier otro cambio realizado sobre los datos en un contexto de uso específico.</em>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value="Caracteristica 5"
            id="flexCheckDefault5"
            v-model="useForm.check5"
          />
          <label class="form-check-label" for="flexCheckDefault5">
           <u> 5. Exactitud: </u>
          </label>
          <em>Grado en el que los datos representan correctamente el verdadero valor del atributo deseado de un concepto o evento en un contexto de uso específico.</em>
        </div>

        <strong
          ><label class="form-label">Accesibilidad de la información </label>
        </strong>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value="Caracteristica 6"
            id="flexCheckDefault6"
            v-model="useForm.check6"
          />
          <label class="form-check-label" for="flexCheckDefault6">
            <u> 6. Accesibilidad: </u>
          </label>
          <em> 	Grado en el que los datos pueden ser accedidos en un contexto específico, particularmente por personas que necesiten tecnologías de apoyo o una configuración especial por algún tipo de discapacidad.</em>
        </div>

        <strong
          ><label class="form-label">
            Oportunidad de la información
          </label></strong
        >
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value="Caracteristica 7"
            id="flexCheckDefault7"
            v-model="useForm.check7"
          />
          <label class="form-check-label" for="flexCheckDefault7">
           <u> 7. Completitud </u>
          </label>
          <em> Grado en el que los datos asociados con una entidad tienen valores para todos los atributos esperados e instancias de entidades relacionadas en un contexto de uso específico.</em>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value="Caracteristica 8"
            id="flexCheckDefault8"
            v-model="useForm.check8"
          />
          <label class="form-check-label" for="flexCheckDefault8">
            <u>8. Consistencia: </u>
          </label>
        <em> Grado en el que los datos están libres de contradicción y son coherentes con otros datos en un contexto de uso específico</em>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value="Caracteristica 9"
            id="flexCheckDefault14"
            v-model="useForm.check9"
          />
          <label class="form-check-label" for="flexCheckDefault14">
           <u> 9. Comprensibilidad:</u>
          </label>
          <em> Grado en el que los datos tienen atributos que permiten ser leídos e interpretados por los usuarios y son expresados utilizando lenguajes, símbolos y unidades apropiados en un contexto de uso específico</em>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value="Caracteristica 10"
            id="flexCheckDefault15"
            v-model="useForm.check10"
          />
          <label class="form-check-label" for="flexCheckDefault15">
           <u> 10. Conformidad:</u>
          </label>
          <em> Grado en el que los datos tienen atributos que permiten ser leídos e interpretados por los usuarios y son expresados utilizando lenguajes, símbolos y unidades apropiados en un contexto de uso específico</em>
        </div>

        <strong><label class="form-label">Eficiencia </label></strong>

        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value="Caracteristica 11"
            id="flexCheckDefault9"
            v-model="useForm.check11"
          />
          <label class="form-check-label" for="flexCheckDefault9">
            <u> 11. Eficiencia:</u>
          </label>
          <em> Grado en el que los datos tienen atributos que pueden ser procesados y proporcionados con los niveles de rendimiento esperados mediante el uso de cantidades y tipos adecuados de recursos en un contexto de uso específico.</em>
        </div>

        <strong><label class="form-label">Confidencialidad </label></strong>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value="Caracteristica 12"
            id="flexCheckDefault10"
            v-model="useForm.check12"
          />
          <label class="form-check-label" for="flexCheckDefault10">
            <u> 12. Confidencialidad:</u>
          </label>
          <em> Grado en el que los datos tienen atributos que aseguran que los datos son sólo accedidos e interpretados por usuarios autorizados en un contexto de uso específico.</em>
        </div>
        <strong> <label class="form-label">Disponibilidad </label></strong>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value="Caracteristica 13"
            id="flexCheckDefault11"
            v-model="useForm.check13"
          />
          <label class="form-check-label" for="flexCheckDefault11">
           <u> 13. Disponibilidad: </u>
          </label>
          <em> Grado en el que los datos tienen atributos que permiten ser obtenidos por usuarios y/o aplicaciones autorizados en un contexto de uso específico.</em>
        </div>
        <strong><label class="form-label">Portabilidad </label></strong>

        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value="Caracteristica 14"
            id="flexCheckDefault12"
            v-model="useForm.check14"
          />
          <label class="form-check-label" for="flexCheckDefault12">
           <u> 14. Portabilidad: </u>
          </label>
          <em> Grado en el que los datos tienen atributos que les permiten ser instalados, reemplazados o eliminados de un sistema a otro, preservando el nivel de calidad en un contexto de uso específico.</em>
        </div>
        <strong> <label class="form-label">Recuperabilidad </label></strong>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value="Caracteristica 15"
            id="flexCheckDefault13"
            v-model="useForm.check15"
          />
          <label class="form-check-label" for="flexCheckDefault13">
            <u> 15. Recuperabilidad: </u>
          </label>
          <em> Grado en el que los datos tienen atributos que permiten mantener y preservar un nivel específico de operaciones y calidad, incluso en caso de fallos, en un contexto de uso específico.</em>
        </div>
        <button class="btn btn-primary mb-3" type="submit">Evaluar</button>
      </div>
    </form>
  </div>
</template>

<script>
import { useStore } from "vuex";

import { onMounted, ref, computed } from "vue";
import { useRouter } from "vue-router";
import Swal from "sweetalert2";
import useCheck from "../composables/useCheck";
import useAuth from "../../auth/composables/useAuth";

export default {
  setup() {
    const router = useRouter();
    const useForm = ref({
      nombre: null,
      autor: null,
      check1: false,
      check2: false,
      check3: false,
      check4: false,
      check5: false,
      check6: false,
      check7: false,
      check8: false,
      check9: false,
      check10: false,
      check11: false,
      check12: false,
      check13: false,
      check15: false,
      check14: false,
      id: userId,
    });
    const store = useStore();

    const { createEvaluacion, getUsuario } = useCheck();
    const select_all = ref(false);
    const { userId, username } = useAuth();

    console.log("imprimiendooooooooo id: " + userId.value);

    const isLoading = computed(() => store.getters["checklist/isLoading"]);

    const url = ref;
    return {
      useForm,
      onSubmit: async () => {
        const { ok, message } = await createEvaluacion(useForm.value);
        console.log("retorno valor ok :" + ok);
        if (ok) {
          router.push({ name: "no-project" });
          Swal.fire("Guardado", message, "success");
        } else {
          Swal.fire("Error", message, "error");
        }
      },
      select_all: false,
      selected: [],
      userId,
      isLoading,
      // select: () => {

      //   if(!select_all.value){
      //      useForm.value.check1=true
      //      useForm.value.check2=true
      //   }else {
      //      useForm.value.check1=false
      //     useForm.value.check2= false
      //   }
      // }
    };
  },
};
</script>
