<template>
  <div class="container" id="identy">
    <div class="row">
      <!-- <div class="col col-md-6 align-self-center"> -->
      <div class="col col-md-6 offset-md-3">
        <form
          @submit.prevent="onSubmit"
          class="card card-body"
          ref="contenedor"
        >
          <h1 class="text-center h3 mb-2">Información general</h1>
          <!-- <input type="text" class="form-control mb-3" />-->
          <label class="form-label mb-2">Nombre del proyecto</label>
          <input
            type="text"
            class="form-control mb-2"
            placeholder="Nombre proyecto"
            v-model="evaluacion.proyecto.nombre"
          />
          <label class="form-label mb-2">Autor </label>
          <input
            type="text"
            class="form-control mb-2"
            placeholder="Autor "
            v-model="evaluacion.proyecto.autor"
          />
          <label class="form-label mb-2">Validador</label>
          <input
            type="text"
            class="form-control mb-2"
            placeholder="Autor "
            disabled
            v-model="username"
          />
          <label class="form-label mb-2">Fecha</label>
          <input
            type="text"
            class="form-control mb-2"
            placeholder="Fecha "
            disabled
            v-model="evaluacion.proyecto.fecha"
          />
          <label class="form-label mb-2">Porcentaje Cumplimiento</label>
          <input
            type="text"
            class="form-control mb-2"
            placeholder=""
            disabled
            v-model="evaluacion.valor"
          />
          <h3 class="text-center">Características y Subcaracterísticas</h3>

          <strong
            ><label class="form-label">Precisión de la información </label>
          </strong>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="Caracteristica 1"
              id="flexCheckDefault1"
              v-model="evaluacion.check1"
            />
            <label class="form-check-label" for="flexCheckDefault1">
              <u> 1. Credibilidad :</u>
            </label>
            <em>
              Grado en el que los datos tienen atributos que permiten mantener y
              preservar un nivel específico de operaciones y calidad, incluso en
              caso de fallos, en un contexto de uso específico.</em
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="Caracteristica 2"
              id="flexCheckDefault2"
              v-model="evaluacion.check2"
            />
            <label class="form-check-label" for="flexCheckDefault2">
              <u> 2. Actualidad:</u>
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="Caracteristica 3"
              id="flexCheckDefault3"
              v-model="evaluacion.check3"
            />
            <label class="form-check-label" for="flexCheckDefault3">
              <u> 3. Precisión:</u>
            </label>
            <em>
              Grado en el que los datos tienen atributos que son exactos o
              proporcionan discernimiento en un contexto de uso específico.</em
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="Caracteristica 4"
              id="flexCheckDefault4"
              v-model="evaluacion.check4"
            />
            <label class="form-check-label" for="flexCheckDefault4">
              <u> 4. Trazabilidad: </u>
            </label>
            <em>
              Grado en el que los datos tienen atributos que proporcionan un
              camino de acceso auditado a los datos o cualquier otro cambio
              realizado sobre los datos en un contexto de uso específico.</em
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="Caracteristica 5"
              id="flexCheckDefault5"
              v-model="evaluacion.check5"
            />
            <label class="form-check-label" for="flexCheckDefault5">
              <u> 5. Exactitud: </u>
            </label>
            <em
              >Grado en el que los datos representan correctamente el verdadero
              valor del atributo deseado de un concepto o evento en un contexto
              de uso específico.</em
            >
          </div>
          <!-- <div class="mb-1">
        </div> -->
          <strong
            ><label class="form-label">Accesibilidad de la información </label>
          </strong>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="Caracteristica 6"
              id="flexCheckDefault6"
              v-model="evaluacion.check6"
            />
            <label class="form-check-label" for="flexCheckDefault6">
              <u> 6. Accesibilidad: </u>
            </label>
            <em>
              Grado en el que los datos pueden ser accedidos en un contexto
              específico, particularmente por personas que necesiten tecnologías
              de apoyo o una configuración especial por algún tipo de
              discapacidad.</em
            >
          </div>
          <!-- <div class="mb-3">
        </div> -->
          <strong
            ><label class="form-label">
              Oportunidad de la información
            </label></strong
          >
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="Caracteristica 7"
              id="flexCheckDefault7"
              v-model="evaluacion.check7"
            />
            <label class="form-check-label" for="flexCheckDefault7">
              <u> 7. Completitud </u>
            </label>
            <em>
              Grado en el que los datos asociados con una entidad tienen valores
              para todos los atributos esperados e instancias de entidades
              relacionadas en un contexto de uso específico.</em
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="Caracteristica 8"
              id="flexCheckDefault8"
              v-model="evaluacion.check8"
            />
            <label class="form-check-label" for="flexCheckDefault8">
              <u>8. Consistencia: </u>
            </label>
            <em>
              Grado en el que los datos están libres de contradicción y son
              coherentes con otros datos en un contexto de uso específico</em
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="Caracteristica 9"
              id="flexCheckDefault14"
              v-model="evaluacion.check9"
            />
            <label class="form-check-label" for="flexCheckDefault14">
              <u> 9. Comprensibilidad:</u>
            </label>
            <em>
              Grado en el que los datos tienen atributos que permiten ser leídos
              e interpretados por los usuarios y son expresados utilizando
              lenguajes, símbolos y unidades apropiados en un contexto de uso
              específico</em
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="Caracteristica 10"
              id="flexCheckDefault15"
              v-model="evaluacion.check10"
            />
            <label class="form-check-label" for="flexCheckDefault15">
              <u> 10. Conformidad:</u>
            </label>
            <em>
              Grado en el que los datos tienen atributos que permiten ser leídos
              e interpretados por los usuarios y son expresados utilizando
              lenguajes, símbolos y unidades apropiados en un contexto de uso
              específico</em
            >
          </div>

          <strong><label class="form-label">Eficiencia </label></strong>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="Caracteristica 11"
              id="flexCheckDefault9"
              v-model="evaluacion.check11"
            />
            <label class="form-check-label" for="flexCheckDefault9">
              <u> 11. Eficiencia:</u>
            </label>
            <em>
              Grado en el que los datos tienen atributos que pueden ser
              procesados y proporcionados con los niveles de rendimiento
              esperados mediante el uso de cantidades y tipos adecuados de
              recursos en un contexto de uso específico.</em
            >
          </div>
          <!-- <div class="mb-3">
        </div> -->
          <strong><label class="form-label">Confidencialidad </label></strong>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="Caracteristica 12"
              id="flexCheckDefault10"
              v-model="evaluacion.check12"
            />
            <label class="form-check-label" for="flexCheckDefault10">
              <u> 12. Confidencialidad:</u>
            </label>
            <em>
              Grado en el que los datos tienen atributos que aseguran que los
              datos son sólo accedidos e interpretados por usuarios autorizados
              en un contexto de uso específico.</em
            >
          </div>
          <!-- <div class="mb-3">
        </div> -->
          <strong> <label class="form-label">Disponibilidad </label></strong>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="Caracteristica 13"
              id="flexCheckDefault11"
              v-model="evaluacion.check13"
            />
            <label class="form-check-label" for="flexCheckDefault11">
              <u> 13. Disponibilidad: </u>
            </label>
            <em>
              Grado en el que los datos tienen atributos que permiten ser
              obtenidos por usuarios y/o aplicaciones autorizados en un contexto
              de uso específico.</em
            >
          </div>
          <!-- <div class="mb-3">
        </div> -->
          <strong><label class="form-label">Portabilidad </label></strong>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="Caracteristica 14"
              id="flexCheckDefault12"
              v-model="evaluacion.check14"
            />
            <label class="form-check-label" for="flexCheckDefault12">
              <u> 14. Portabilidad: </u>
            </label>
            <em>
              Grado en el que los datos tienen atributos que les permiten ser
              instalados, reemplazados o eliminados de un sistema a otro,
              preservando el nivel de calidad en un contexto de uso
              específico.</em
            >
          </div>
          <!-- <div class="mb-3">
        </div> -->
          <strong> <label class="form-label">Recuperabilidad </label></strong>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="Caracteristica 15"
              id="flexCheckDefault13"
              v-model="evaluacion.check15"
            />
            <label class="form-check-label" for="flexCheckDefault13">
              <u> 15. Recuperabilidad: </u>
            </label>
            <em>
              Grado en el que los datos tienen atributos que permiten mantener y
              preservar un nivel específico de operaciones y calidad, incluso en
              caso de fallos, en un contexto de uso específico.</em
            >
          </div>

          <button class="btn btn-primary sm" type="submit">Editar</button>
        </form>
        <div class="text-center">
          <button class="btn btn-danger" @click="print">Descargar</button>
        </div>
      </div>
      <!-- <button class="btn btn-danger" @click="print">Descargar</button> -->
    </div>
  </div>
</template>

<script>
import useCheck from "../composables/useCheck";
import Swal from "sweetalert2";
import { useStore } from "vuex";
import { useRouter, useRoute } from "vue-router";
import { onMounted, ref, watch } from "vue";
import axios from "axios";
import useAuth from "../../auth/composables/useAuth";
import jspdf from "jspdf";
export default {
  setup() {
    const evaluacion = ref({
      proyecto: {
        nombre: null,
        autor: null,
        fecha: null,
      },
      check1: false,
      check2: false,
      check3: false,
      check4: false,
      check5: false,
      check6: false,
      check7: false,
      check8: false,
      check9: false,
      check10: false,
      check11: false,
      check12: false,
      check13: false,
      check15: false,
      check14: false,
      id: null,
    });
    const router = useRouter();
    const route = useRoute();
    const store = useStore();
    const { userId, username } = useAuth();

    const { updateEvaluacion } = useCheck();
    const idtoken = localStorage.getItem("token");
    console.log(idtoken);
    const fetchDetail = async () => {
      const journalApi = axios.create({
        baseURL: "https://app-server-mevn.herokuapp.com/api",
        // baseURL: "http://localhost:8000/api",
      });
      if (typeof route.params.id === "string") {
        const res = await journalApi.get(
          "/evaluaciones/detail/" + route.params.id
        );
        // then(response =>  evaluacion=(response.data.evaluacion))
        evaluacion.value = res.data.evaluacion;
        console.log(evaluacion.value);
      }
    };

    fetchDetail();
    evaluacion.value.proyecto.fecha = Date.toLocaleDateString;

    onMounted(() => {
      // fetchDetail(route.params.id);
    });

    // watch(
    //   () => route.params.id,
    //   () => fetchDetail(route.params.id)
    // );

    const contenedor = ref(null);
    const print = () => {
      // const doc = new jspdf();
      const doc = new jspdf("p", "pt", "a4");
      console.log(contenedor.value);
      doc.html(contenedor.value, {
        callback: function (doc) {
          doc.save();
        },
        x: 15,
        y: 15,
      });
    };

    // if (typeof route.params.id === "string") {
    //   evaluacion.value.id = route.params.id;
    //   console.log('id parseado'+evaluacion.value.id);
    // }
    return {
      evaluacion,
      username,
      print,
      contenedor,
      // data: fetchDetail
      onSubmit: async () => {
        if (typeof route.params.id === "string") {
          evaluacion.value.id = route.params.id;
          console.log(evaluacion.value.id);
          const { ok, message } = await updateEvaluacion(evaluacion.value);
          console.log("retorno valor ok :" + ok);
          if (ok) {
            router.push({ name: "no-project" });
            Swal.fire("Actualizado", message, "success");
          } else {
            Swal.fire("Error", message, "error");
          }
        }
      },
    };
  },
};
</script>