<template>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <a
        class="navbar-brand text-white"
        @click="$router.push({ name: 'Home' })"
      >
        <img
          src="@/assets/logo.png"
          alt="Vue Logo"
          height="24"
          class="d-inline-block align-text-top mx-2"
          
        />
        {{ username }}
      </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- <li class="nav-item">
            <a class="nav-link text-white"  @click="$router.push({ name: 'Home' })">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white"  @click="$router.push({ name: 'no-project' })">Evaluaciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" @click="$router.push({ name: 'new-project', params: { id: 'new' } })">Nueva Evaluación</a>
          </li> -->
          <router-link class="nav-link text-white" to="/">Inicio</router-link>
          <router-link class="nav-link text-white" to="/checklist">Evaluaciones</router-link>
          <router-link class="nav-link text-white" to="/checklist/new">Nueva Evaluación</router-link>
       </ul>

        <div class="d-flex" v-if="authStatus === 'not-authenticated'">
          <button class="btn btn-outline-info mx-2" @click="onLogout">
            Sign In
          </button>
          <button class="btn btn-outline-info mx-2" @click="onRegister">
            Register
          </button>
        </div>

        <div class="d-flex" v-else>
          <button class="btn btn-outline-info mx-2" @click="onLogout">
            <i class="fa fa-sign-out-alt"></i>
          </button>
        </div>
        
      </div>
    </div>
  </nav>
</template>

<script>
import { useRouter } from "vue-router";
import useAuth from "@/modules/auth/composables/useAuth";

export default {
  setup() {
    const router = useRouter();
    const { username, logout, authStatus } = useAuth();

    return {
      username,
      authStatus,

      onLogout: () => {
        router.push({ name: "login" });
        logout();
      },
      onRegister: () => {
        router.push({ name: "register" });
        logout();
      },
    };
  },
};
</script>