<template>
  <Navbar />

  <div class="container-fluid">
    <!-- <img alt="Vue logo" src="../assets/iso25012.png" /> -->

    <!-- <button @click="goToCheckList" class="btn btn-primary">Primary</button> -->

    <body id="page-top">
      <!-- Masthead-->
      <header class="masthead bg-success text-white text-center">
        <div class="container d-flex align-items-center flex-column">
          <!-- Masthead Avatar Image-->
          <img
            class="masthead-avatar mb-5"
            src="./template/assets/img/avataaars.svg"
            alt="..."
          />
          <!-- Masthead Heading-->
          <h1 class="masthead-heading text-uppercase mb-0">ISO 25012</h1>
          <!-- Icon Divider-->
          <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
          </div>
          <!-- Masthead Subheading-->
          <p class="masthead-subheading font-weight-light mb-0 text-white" >
            Evaluación - Características - Subcaracterísticas
          </p>
        </div>
      </header>
      <!-- Portfolio Section-->

      <section class="page-section portfolio" id="about0">
        <div class="container">
          <!-- About Section Heading-->
          <h2
            class="
              page-section-heading
              text-center text-uppercase text-secondary
              mb-0
            "
          >
            ISO/IEC 25012
          </h2>
          <!-- Icon Divider-->
          <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
          </div>
          <!-- About Section Content-->
          <div class="row">
            <div class="col-lg-4 ms-auto">
              <p class="lead">
              La ISO/IEC 25012 es una norma para verificación de calidad de datos que representa los cimientos sobre los
                cuales se construye un sistema para la evaluación de un producto
                de datos. En este modelo se establecen las
                características que se deben tener en cuenta
                a la hora de evaluar las propiedades de un producto de datos
                determinado.
              </p>
            </div>
            <div class="col-lg-4 me-auto">
              <p class="lead">
                La Calidad del Producto de Datos se puede entender como el grado
                en que los datos satisfacen los requisitos definidos por la
                organización a la que pertenece el producto. Son precisamente
                estos requisitos los que se encuentran reflejados en el modelo
                de Calidad de Datos mediante sus características (Exactitud,
                Completitud, Consistencia, Credibilidad, Actualidad,
                Accesibilidad,…).
              </p>
            </div>
          </div>
          <!-- About Section Button-->
          <div class="text-center mt-4">
            <a
              class="btn btn-xl btn-outline-primary"
              href="https://iso25000.com/index.php/normas-iso-25000/iso-25012"
              target="_blank"
            >
              <!-- <i class="fas fa-download me-2"></i> -->
              <i class="fas fa-external-link-alt"></i>
              Ver artículo
            </a>
          </div>
        </div>
      </section>

      <!-- About Section-->
      <section class="page-section bg-success text-white mb-0" id="about">
        <div class="container">
          <!-- About Section Heading-->
          <h2
            class="page-section-heading text-center text-uppercase text-white"
          >
            Evaluación
          </h2>
          <!-- Icon Divider-->
          <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
          </div>
          <!-- About Section Content-->
          <div class="row">
            <div class="col-lg-4 ms-auto ">
              <p class="lead text-white">
                Existen normas, tales como ISO/IEC 25012, destinadas a poder
                medir la calidad de los datos basándose en un conjunto de
                características. Realizar dichas mediciones puede resultar
                costoso y complejo para quien cuente con poca experiencia en el
                área.
              </p>
            </div>
            <div class="col-lg-4 me-auto">
              <p class="lead text-white" >
                El presente artículo propone una guía de medición basada en la
                ISO/IEC 25012, con el fin de brindar un estado actual de los
                datos en diferentes aspectos definidos en la norma.
              </p>
            </div>
          </div>
          <!-- About Section Button-->
          <div class="text-center mt-4">
            <a
              class="btn btn-xl btn-outline-light"
              href="http://sedici.unlp.edu.ar/bitstream/handle/10915/91086/Documento_completo.pdf-PDFA.pdf?sequence=1&isAllowed=y"
              target="_blank"
            >
              <i class="fas fa-download me-2"></i>
              Ver artículo
            </a>
          </div>
        </div>
      </section>
      <!-- Contact Section-->
      <section class="page-section" id="contact">
        <div class="container">
          <!-- Contact Section Heading-->
          <h2
            class="
              page-section-heading
              text-center text-uppercase text-secondary
              mb-0
            "
          >
            Características de la norma
          </h2>
          <!-- Icon Divider-->
          <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
          </div>
          <!-- Contact Section Form-->
          <div class="text-center mt-4">
            <a
              class="btn btn-xl btn-outline-primary"
              href="https://tesis.pucp.edu.pe/repositorio/bitstream/handle/20.500.12404/12014/FERNANDEZ_MARSHALL_CALIDAD_INTELIGENCIA_NEGOCIOS.pdf?sequence=1&isAllowed=y"
              target="_blank"
            >
              <!-- <i class="fas fa-download me-2"></i> -->
              <i class="fas fa-external-link-alt"></i>
              Ver todas las definiciones y métricas
            </a>
          </div>
          <div class="row justify-content-center">
            <!-- <div class="col-lg-8 col-xl-7"> -->
            <div class="col-lg-8 col-xl-7">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Característica</th>
                    <th scope="col">Métrica</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Exactitud</td>
                    <td>Grado en el que los datos representan correctamente el verdadero valor del atributo deseado de un concepto o evento en un contexto de uso específico.</td>
                  </tr>
                  <tr>
                    <td>Completitud</td>
                    <td>Grado en el que los datos asociados con una entidad tienen valores para todos los atributos esperados e instancias de entidades relacionadas en un contexto de uso específico.</td>
                  </tr>
                  <tr>
                    <td>Consistencia</td>
                    <td>Grado en el que los datos están libres de contradicción y son coherentes con otros datos en un contexto de uso específico. Puede ser analizada en datos que se refieran tanto a una como a varias entidades comparables.</td>
                  </tr>
                  <tr>
                    <td>Credibilidad</td>
                    <td>Grado en el que los datos tienen atributos que se consideran ciertos y creíbles en un contexto de uso específico. La credibilidad incluye el concepto de autenticidad (la veracidad de los orígenes de datos, atribuciones, compromisos).</td>
                  </tr>
                  <tr>
                    <td>Actualidad</td>
                    <td>Grado en el que los datos tienen atributos que tienen la edad correcta en un contexto de uso específico.</td>
                  </tr>
                  <tr>
                    <td>Accesibilidad</td>
                    <td>Grado en el que los datos pueden ser accedidos en un contexto específico, particularmente por personas que necesiten tecnologías de apoyo o una configuración especial por algún tipo de discapacidad.</td>
                  </tr>
                  <tr>
                    <td>Conformidad</td>
                    <td>
                  Grado en el que los datos tienen atributos que se adhieren a estándares, convenciones o normativas vigentes y reglas similares referentes a la calidad de datos en un contexto de uso específico.
                    </td>
                  </tr>
                  <tr>
                    <td>Confidencialidad</td>
                    <td>Grado en el que los datos tienen atributos que aseguran que los datos son sólo accedidos e interpretados por usuarios autorizados en un contexto de uso específico.</td>
                  </tr>
                  <tr>
                    <td>Eficiencia</td>
                    <td>Grado en el que los datos tienen atributos que pueden ser procesados y proporcionados con los niveles de rendimiento esperados mediante el uso de cantidades y tipos adecuados de recursos en un contexto de uso específico.</td>
                  </tr>
                  <tr>
                    <td>Precisión</td>
                    <td>Grado en el que los datos tienen atributos que son exactos o proporcionan discernimiento en un contexto de uso específico.</td>
                  </tr>
                  <tr>
                    <td>Trazabilidad</td>
                    <td>
                      Grado en el que los datos tienen atributos que proporcionan un camino de acceso auditado a los datos o cualquier otro cambio realizado sobre los datos en un contexto de uso específico.
                    </td>
                  </tr>
                  <tr>
                    <td>Disponibilidad</td>
                    <td>Grado en el que los datos tienen atributos que permiten ser obtenidos por usuarios y/o aplicaciones autorizados en un contexto de uso específico.</td>
                  </tr>
                  <tr>
                    <td>Portabilidad</td>
                    <td>Grado en el que los datos tienen atributos que les permiten ser instalados, reemplazados o eliminados de un sistema a otro, preservando el nivel de calidad en un contexto de uso específico.</td>
                  </tr>
                  <tr>
                    <td>Recuperabilidad</td>
                    <td>Grado en el que los datos tienen atributos que permiten mantener y preservar un nivel específico de operaciones y calidad, incluso en caso de fallos, en un contexto de uso específico.</td>
                  </tr>
                  <tr>
                    <td>Comprensibilidad</td>
                    <td>Grado en el que los datos tienen atributos que permiten ser leídos e interpretados por los usuarios y son expresados utilizando lenguajes, símbolos y unidades apropiados en un contexto de uso específico. Cierta información sobre la comprensibilidad puede ser expresada mediante metadatos.</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
      <!-- Footer-->

      <!-- Copyright Section-->
      <div class="copyright py-4 text-center text-white">
        <div class="container">
          <small>Copyright &copy; Your Website 2022</small>
        </div>
      </div>
   
      <!-- Bootstrap core JS-->
      <!-- Core theme JS-->
      <!-- <script src="template/scripts.js"></script> -->
      <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
      <!-- * *                               SB Forms JS                               * *-->
      <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
      <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
      <!-- <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script> -->
    </body>
  </div>
</template>


<script>
import Navbar from "../modules/checklist/components/Navbar.vue";

export default {
  components: {
    Navbar,
  },

  methods: {
    goToCheckList() {
      this.$router.push({ name: "no-project" });
    },
  },
};
</script>

<style lang="css" scoped>
@import "./template/css/styles.css";
</style>