<template>
  <Navbar />

  <div class="container">
    <!-- <img alt="Vue logo" src="../assets/iso25012.png" /> -->

    <!-- <button @click="goToCheckList" class="btn btn-primary">Primary</button> -->

    <div
      id="carouselExampleFade"
      class="carousel slide carousel-fade"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../assets/ISO1.png" class="d-block w-100" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../assets/ISO2.png" class="d-block w-100" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../assets/ISO3.png" class="d-block w-100" alt="" />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleFade"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleFade"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</template>


<script>
import Navbar from "../modules/checklist/components/Navbar.vue";

export default {
  components: {
    Navbar,
  },

  methods: {
    goToCheckList() {
      this.$router.push({ name: "no-project" });
    },
  },
};
</script>

