<template>
    <CheckListForm />
</template>

<script>


import { defineAsyncComponent } from 'vue'

export default {
    
    components: {
         CheckListForm: defineAsyncComponent(() => import('../components/CheckListForm.vue')),
    },

}
</script>

<style lang="scss" scoped>

textarea {
    font-size: 20px;
    border: none;
    height: 100%;

    &:focus {
        outline: none;
    }
}

img {
    width: 200px;
    position: fixed;
    bottom: 150px;
    right: 20px;
    box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: 0.2);
}

</style>