<template>
  <div v-if="isLoading" class="row justify-content-md-center">
    <div class="col-3 alert-info text-center mt-5">
      Espere por favor...
      <h3 class="mt-2">
        <i class="fa fa-spin fa-sync"></i>
      </h3>
    </div>
  </div>

  <div v-else>
    <h1 class="text-center">Evaluaciones ISO 25010</h1>
    <div class="row">
      <div class="col">
        <table class="table table-sm table-striped align-middle">
          <!-- {{ getEvaluacionesByUser(userId) }} -->

          <!-- <table class="table table-striped table-sm align-middle"> -->
          <thead>
            <th scope="col">Proyecto</th>
            <th scope="col">Autor</th>
            <th scope="col">Fecha</th>
            <!-- <th scope="col">Validador</th> -->

            <th scope="col">Cumplimiento</th>
            <th scope="col">Evaluación</th>
          </thead>
          <tbody>
            <tr v-for="evaluacion in evaluaciones" :key="evaluacion.id">
              <!-- <tr v-for="evaluacion in getEvaluacionesByUser(userId)" :key="evaluacion.id"> -->
              <td>{{ evaluacion.proyecto.nombre }}</td>
              <td>{{ evaluacion.proyecto.autor }}</td>
              <td>
                {{ new Date(evaluacion.proyecto.fecha).toLocaleDateString() }}
              </td>
              <!-- <td>{{ username }}</td> -->
              <td>{{ evaluacion.valor }} %</td>
              <td><button class="btn btn-primary" @click="$router.push({name: 'detail',params: {id:evaluacion._id}})">Detalle</button></td>
              <!-- <td>
                Característica 1
                <i class="fas fa-check" v-if="evaluacion.check1"></i><br />
                Característica 2
                <i class="fas fa-check" v-if="evaluacion.check2"></i><br />
                Característica 3
                <i class="fas fa-check" v-if="evaluacion.check3"></i><br />
                Característica 4
                <i class="fas fa-check" v-if="evaluacion.check4"></i><br />
                Característica 5
                <i class="fas fa-check" v-if="evaluacion.check5"></i><br />
                Característica 6
                <i class="fas fa-check" v-if="evaluacion.check6"></i><br />
                Característica 7
                <i class="fas fa-check" v-if="evaluacion.check7"></i><br />
                Característica 8
                <i class="fas fa-check" v-if="evaluacion.check8"></i><br />
                Característica 9
                <i class="fas fa-check" v-if="evaluacion.check9"></i><br />
                Característica 10
                <i class="fas fa-check" v-if="evaluacion.check10"></i><br />
                Característica 11
                <i class="fas fa-check" v-if="evaluacion.check11"></i><br />
                Característica 12
                <i class="fas fa-check" v-if="evaluacion.check12"></i><br />
                Característica 13
                <i class="fas fa-check" v-if="evaluacion.check13"></i><br />
                Característica 14
                <i class="fas fa-check" v-if="evaluacion.check14"></i><br />
                Característica 15
                <i class="fas fa-check" v-if="evaluacion.check15"></i><br />
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  <!-- <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav> -->

  </div>


  <!-- </div> -->
</template>
<script>
import { onMounted } from "vue";
import useCheck from "../composables/useCheck";
import { useStore } from "vuex";
import useAuth from "../../auth/composables/useAuth";
import { computed,  } from "vue";
import { useRouter } from 'vue-router'

export default {
  setup() {
    const store = useStore();

    const { evaluaciones, getUsuario } = useCheck();
    const { userId, username } = useAuth();
    const router = useRouter()

    console.log("Obteniendo UserId: " + { userId });

    onMounted(() => {
      // getEvaluaciones();
      getEvaluacionesByUser(userId.value);
    });

    // const getEvaluaciones = () => {
    //   store.dispatch("checklist/fetchEvaluaciones");
    // };

    const getEvaluacionesByUser = (userId) => {
      store.dispatch("checklist/fetchEvaluacionesByUser", userId);
    };
    const isLoading =computed(()=>store.getters['checklist/isLoading'])

    return {
      evaluaciones,
      // obtenerUsuario,
      userId,
      getUsuario,
      getEvaluacionesByUser,
      username,
      isLoading
      //onSubmit,
    };

    //const res=getUsuario('61eb57ed130e4787345c85c0')

    // let onSubmit = (id) => {
    //   let res = getUsuario(id);
    //   console.log("la respuesta es: " + res);
    //   return res;
    // };
  },
};
</script>

<style lang="scss"

>
// div {
//   height: 100%;
// }
</style>