<template>
  <h1 v-if="authStatus === 'authenticating'" > Cargando... </h1>
  <!-- <h1 v-if="authStatus === 'authenticating'" >{{ authStatus }}</h1> -->
  <router-view v-else />
</template>


<script>
import { onMounted } from '@vue/runtime-core'
import useAuth from './modules/auth/composables/useAuth'
import useCheck from './modules/checklist/composables/useCheck'
import { useStore } from 'vuex'

export default {
  
  setup() {

    const store = useStore();

    const { authStatus, checkAuthStatus, userId } = useAuth()
    //const { evaluaciones } = useCheck()

    onMounted(() => {
  //  getEvaluaciones()
    });
    const getEvaluaciones = (userId) => {
      store.dispatch("checklist/fetchEvaluacionesW");
      
    };
   const getEvaluacionesByUser = (userId) => {
      store.dispatch("checklist/fetchEvaluacionesByUser", userId);
    };
    checkAuthStatus()
    
    return {
      authStatus,
      checkAuthStatus,
      getEvaluacionesByUser
      
    }
  }
}
</script>
